[Desktop Entry]
Encoding=UTF-8
Name=Link to Placements schedule & calendar
Type=Link
URL=https://calendar.google.com/calendar/embed?src=appacademy.io_r61pl5c3vl1vatl28hquvhtf4o%40group.calendar.google.com&ctz=America/Los_Angeles
Icon=text-html
